@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    @apply text-gray-800 bg-gray-100;
}

.font-heading {
    font-family: 'Varela', sans-serif;
}

strong, elem, .font-bold {
    font-weight: 500 !important;
}

.transition-primary {
    @apply transition-all duration-200 ease-in-out;
}

.button {
    @extend .transition-primary;
    @apply text-base border-2 rounded p-2 font-bold;
    &:hover {
        text-decoration: none;
    }
}

.button-bordered {
    @extend .button;
    @apply border-primary-500 text-primary-500;
    &:hover {
        @apply bg-primary-500 text-white;
    }
}

.button-flat {
    @extend .button;
    @apply border-primary-500 text-white bg-primary-500;
    &:hover {
        @apply bg-primary-600 border-primary-600;
    }
}


